body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.container 
{
    background: grey;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at right,  #2b2929 0%,#957979 47%,#9e9595 47%,#d9e1da 47%,#babebb 48%);
}

.container img 
{
    width: 180px;
    height: 300px;
}


nav 
{
    position: fixed;
    top: 0;
    display: flex;
    background: grey;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    transition: 0.5s;
    overflow: hidden;
}

nav a
{
    position: relative;
    padding: 5px;
    text-decoration: none;
    color: black;
    background: grey;
    font-weight: 400px;
    transition: 0.5px;
}

nav a:hover
{
    color: white;
}

.container h2
{
    position: relative;
    font-weight: 500px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(223, 216, 216);
    transition: 0.5s;
    margin-left: 10px;
}

.content
{
    padding: 16px;
}

.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
  }